*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    left: 0;
    top: 0;
    max-width: 360px;
    max-height: 740px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 60px;
    height: 60px;
}

.menu{
    display: flex;
    align-items: center;
    padding: 0 5%;
    height: 85px;
}

.left-side-menu{
    display: flex;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: calc(100vh - 85px);
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 80%;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select-image{
    max-width: 200px;
}
.select-image img{
    width: 80%;
    border-radius: 10px;

}
.thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 200px;
    gap: 10px;
    width: 180px;
}
.thumbnail img{
    width: 80%;
    border-radius: 10px;
}
.right-side{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.right-side h6{
    color: #1071AD;

}
.right-side p{
    color: #093F61;
    font-size: 14px;
}

.prices{
    display: flex;
    flex-direction: column;
}

.price{
    font-size: 16px;
    font-weight: 700;
}
.off{
    font-size: 12px;
    color: #ccc;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/*Comando do estilo de mais e menos para o carrinho*/
.amount{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10px 20px;
    width: 130px;
    border-radius: 10px;
    justify-content: space-between;
}
.amount span{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
}
.minus, .plus{
    cursor: pointer;
    width: 30px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #093F61;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
}
.button img{
    width: 14px;
}

.seta {
    display: flex;
    align-items: start;
    width: 100%;
}

.seta img{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
}
